$zero: 0;
$letra:'Varela Round';
$menu-font-color: white;
$img-minima-altura: 90%;
body {
    margin: $zero;
}

.header {
    font-family: $letra;
    color: $menu-font-color;
    font-weight: bold;
    >* {
        background-color: transparent;
        color: $menu-font-color;
    }
    a {
        color: $menu-font-color;
    }
    a:hover {
        color: $menu-font-color;
        text-decoration: overline;
    }
    a:visited {
        color: $menu-font-color;
    }
}

.menu {
    justify-content: flex-end;
}

.custom-slider-indicador {
    background-color: gray;
    min-height: 5% !important;
    max-height: 5% !important;
    min-width: 5% !important;
    max-width: 5% !important;
    top: 80%;
}

.indicador-derecho {
    right: 75% !important;
}

.indicador-izquierdo {
    left: 10% !important;
}